<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//En"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fullstack7.springmvc.mapper.BbsMapper">
    <!--    resultType 지정 안하면 String -->
    <select id="totalCount" resultType="int">
        SELECT COUNT(*) AS total_count
        FROM tbl_bbs
    </select>
    <select id="list" resultType="net.fullstack7.springmvc.domain.BbsVO">
        SELECT  *
        FROM tbl_bbs
        ORDER BY idx DESC
    </select>
    <select id="listByPage" resultType="net.fullstack7.springmvc.domain.BbsVO">
        SELECT  *
        FROM tbl_bbs
        ORDER BY idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="view" resultType="net.fullstack7.springmvc.domain.BbsVO">
        SELECT *
        FROM tbl_bbs
        WHERE idx = #{idx}
    </select>
    <insert id="regist">
        INSERT INTO  tbl_bbs( memberId, title, content, displayDate )
        VALUES ( #{memberId}, #{title}, #{content}, #{displayDate} )
    </insert>
    <update id="modify">
        UPDATE tbl_bbs SET title = #{title}, content = #{content}, displayDate = #{displayDate}
        WHERE idx = #{idx}
    </update>
    <delete id="delete">
        DELETE FROM tbl_bbs WHERE idx = #{idx}
    </delete>
    <update id="addReadCnt">
        UPDATE  tbl_bbs SET readCnt = readCnt + 1 WHERE idx = #{idx}
    </update>
  <!--  아이디별로 한번만-->
<!--    <update id="addReadCnt">-->
<!--        UPDATE  tbl_bbs SET readCnt = readCnt + 1 WHERE idx = #{idx}-->
<!--        and memberId Not In (select * from tbl_bbs_history) WHERE memberId = #{memberId}-->
<!--    </update>-->
</mapper>